.page .page__body {
  margin: 0 auto;
  height: 2976px;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../fonts/oswalmedium.woff2") format("woff2"), url("../fonts/oswalmedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.main-nav__wrapper {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.site-list-major {
  padding: 23px 122px 23px 122px;
}

.site-list-catalog {
  padding: 23px 70px 23px 70px;
}

.site-list-program {
  padding: 23px 70px 23px 70px;
}

.main-content {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.services {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto 320px;
  background-position: top center;
}

.services__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
}

.services__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.services__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  padding: 7px 44px;
  border: none;
}

.select__item {
  margin: 0;
  color: #444444;
}

.select {
  padding-bottom: 20px;
}

.select__title--weigh-loss {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 79px 0 91px;
}

.select__text--slim {
  margin: 0;
  padding: 29px 33px 23px 20px;
  color: #444444;
}

.select__title--weigh-gain {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 30px 29px 91px;
}

.select__text--pro {
  margin: 0;
  padding: 0 33px 23px 20px;
}

.select__link {
  margin: 0;
  padding: 0px 127px 19px 18px;
  color: #000000;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

.main-header__logo-text {
  margin-left: 57px;
  margin-right: 65px;
}

.description__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 20px;
}

.description__wrapper {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.description__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
}

.description__text {
  margin: 0;
  padding-bottom: 20px;
}

.description__four {
  padding-bottom: 8px;
}

.example {
  margin: 0;
  background: #eaeaea;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 66px;
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;
}

.example__table {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding-bottom: 8px;
}

.example-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  margin: 0;
  padding: 0;
}

.example__expenses {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 20px;
}

.catalog-feed__title {
  padding: 27px 20px 41px 42px;
}

.card-feed__specification-list {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.card-feed__specification-item {
  display: flex;
}

.card-feed__link-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card-feed {
  margin: 0;
  padding: 0;
}

.card-feed__catalog {
  display: flex;
  padding: 14px 36px 12px 36px;
}

.card-feed__container-text {
  display: flex;
  padding-bottom: 13px;
  padding-top: 11px;
}

.card-feed__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.card-feed__product {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  padding: 78px 37px 8px 20px;
  margin: 0;
}

.card-feed__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0px 29px 21px 30px;
}

.card-feed__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #f2f2f2;
  color: #444444;
  text-transform: uppercase;
  border: none;
  padding: 10px 94px;
}

.card-feed__order-button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 129px;
  background: #68b738;
  border: none;
  color: #FFFFFF;
}

.header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
  margin: 0;
}

.inner-header__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.additionally-feed__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 25px 22px 36px 0;
}

.additionally-feed__link-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  padding: 13px 149px 13px 0;
}

.additionally-feed__one {
  padding-right: 125px;
}

.additionally-feed__two {
  padding-right: 182px;
}

.additionally-feed__three {
  padding-right: 181px;
}

.additionally-feed__four {
  padding-right: 116px;
}

.additionally-feed__specification-item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
}

.additionally-feed__order-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #68B738;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 129px;
  border: none;
}

.catalog-promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-catalog.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 54px;
}

.catalog-icon {
  position: absolute;
}

.catalog-promo__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
}

.form-program__fieldset-container {
  margin: 0;
  padding: 0;
}

.form-fieldset__button {
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  padding: 7px 44px;
}

.form-program__fieldset {
  margin: 0;
  padding: 0;
}

.form-fieldset__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-style: normal;
  color: #000000;
}

.inner-header__subtext {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-bottom: 39px;
  padding-top: 37px;
}

.form-field__name {
  font-family: "Oswald", sans-serif;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 40px 14px 15px;
}

.form-field__weight {
  padding: 13px 11px 14px 16px;
}

.form-field__age {
  padding: 13px 2px 14px 16px;
}

.form-fieldset__container {
  margin: 0;
  padding: 0;
}

.form-field__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-style: normal;
  color: #444444;
  padding: 13px;
}

.form-field__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-style: normal;
  color: #444444;
  padding: 0;
}

.form-field__label--radio {
  color: #222222;
}

.title-line {
  padding-right: 91px;
  padding-bottom: 35px;
}

.form-field__post {
  padding: 13px 14px 16px 0px;
}

.form-field__contact {
  padding: 14px 14px 16px 16px;
}

.form-fieldset__comments {
  padding-top: 23px;
  padding-right: 22px;
  padding-bottom: 37px;
}

.form-field__textarea {
  padding: 9px 12px 125px 15px;
  border: 1px solid #E7E7E7;
}

.form-fieldset__additionally {
  padding-top: 23px;
  padding-right: 23px;
  padding-bottom: 34px;
}

.form-fieldset__necessarily {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 21px 61px 32px 61px;
  margin: 0;
}

.main-footer__contacts {
  display: flex;
  background-color: #ffffff;
}

.main-footer__social {
  background: #F2F2F2;
}

.main-footer__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 26px 2px 26px 13px;
}

.main-footer__adress {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding: 26px 20px 26px 0px;
}

.main-footer__icon {
  padding: 39px 96px 32px 96px;
}

.social {
  list-style-type: none;
  display: flex;
  padding: 20px 94px 21px 94px;
  margin: 0;
}

.social__item--vkontakte {
  padding-right: 24px;
}

.social__item--youtube {
  padding-right: 26px;
}

.social__item--telegramm {
  padding: 0;
}

.main-footer__rights {
  padding: 22px 20px 22px 19px;
}

.main-footer__right-link {
  margin-right: 140px;
}
/*# sourceMappingURL=style.css.map */