.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 220px;
  border: none;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #68b738;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswalmedium.woff2") format("woff2"), url("../fonts/oswalmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.page .page__body {
  margin: 0 auto;
}

.main-header {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-header__logo-text {
  margin-left: 57px;
  margin-right: 65px;
}

.main-nav {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.main-nav__wrapper {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list-major {
  padding: 23px 122px 23px 122px;
}

.site-list-catalog {
  padding: 23px 70px 23px 70px;
}

.site-list-program {
  padding: 23px 70px 23px 70px;
}

.main-content {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.description__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.description__wrapper {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.description__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
}

.description__text {
  margin: 0;
  margin-bottom: 20px;
}

.description__four {
  padding-bottom: 8px;
}

.example {
  margin: 0;
  background: #eaeaea;
}

.example__block--programm {
  padding: 25px 20px;
}

.example__block--result {
  padding: 0 20px 40px 20px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;
}

.example__table {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding-bottom: 8px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  margin: 0;
  padding: 0;
}

.example__expenses {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.catalog-feed__title {
  margin: 27px 20px 41px 42px;
}

.additionally-feed__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin: 25px 22px 36px 19px;
  padding: 0;
}

.additionally-feed__link-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 13px 149px 13px 0;
  padding: 0;
}

.additionally-feed__card--items {
  padding-bottom: 35px;
}

.additionally-feed__one {
  margin-right: 125px;
}

.additionally-feed__two {
  margin-right: 182px;
}

.additionally-feed__three {
  margin-right: 181px;
}

.additionally-feed__four {
  margin-right: 116px;
}

.additionally-feed__specification-item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
}

.additionally-feed__order-button {
  width: 100%;
}

.catalog-promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-catalog.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 54px;
}

.catalog-promo__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
}

.form-fieldset__comments {
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 37px;
}

.form-fieldset__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-fieldset__necessarily {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 1px 61px 32px 61px;
  padding: 0;
}

.form-fieldset__list {
  margin: 0;
  list-style-type: none;
  padding: 20px;
}

.form-fieldset__item-position {
  margin-bottom: 13px;
  margin-right: 120px;
}

.form-fieldset__item-stile {
  margin-bottom: 34px;
}

.form-fieldset__stile-one {
  margin: 6px 163px 15px 16px;
}

.form-fieldset__stile-two {
  margin: 6px 140px 15px 16px;
}

.form-fieldset__stile-three {
  margin: 23px 20px 12px 16px;
}

.form-fieldset__button {
  width: 100%;
}

.main-footer {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.main-footer__contacts {
  display: flex;
  background-color: #ffffff;
}

.main-footer__social {
  background: #F2F2F2;
  text-align: center;
}

.main-footer__map {
  text-align: center;
}

.main-footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 26px 2px 26px 13px;
  padding: 0;
}

.main-footer__adress {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding: 0;
  margin: 26px 20px 26px 0;
}

.main-footer__icon {
  padding: 39px 96px 32px 96px;
}

.main-footer__rights {
  padding: 22px 20px 22px 19px;
}

.main-footer__right-link {
  margin-right: 140px;
}

.social {
  list-style-type: none;
  display: flex;
  padding: 20px 94px 21px 94px;
  margin: 0;
  justify-content: center;
}

.social__item--vkontakte {
  padding-right: 24px;
}

.social__item--youtube {
  padding-right: 26px;
}

.social__item--telegramm {
  padding: 0;
}

.card-feed {
  margin: 0;
  padding: 0;
}

.card-feed__specification-list {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-top: 59px;
  margin-bottom: 9px;
  padding: 0;
}

.card-feed__specification-item {
  display: flex;
  justify-content: space-between;
}

.card-feed__catalog {
  display: flex;
  padding: 14px 36px 12px 36px;
}

.card-feed__container-text {
  display: flex;
  padding-bottom: 13px;
  padding-top: 11px;
}

.card-feed__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.card-feed__product-item {
  padding: 36px 20px 25px 21px;
}

.card-feed__product {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin: 23px 38px 8px 37px;
  padding: 0;
}

.card-feed__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 8px 28px 21px 28px;
  padding: 0;
}

.card-feed__button {
  background: #F2F2F2;
  color: #444444;
  width: 100%;
}

.card-feed__order-button {
  width: 100%;
}

.inner-header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.inner-header__form {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
  margin: 27px 40px 37px 20px;
}

.inner-header-text-stile {
  margin: 37px 20px 37px 20px;
}

.select {
  padding-bottom: 20px;
}

.select__item {
  margin: 0;
  color: #444444;
}

.select__item--slim {
  padding-bottom: 20px;
  padding-top: 20px;
}

.select__item--pro {
  padding-bottom: 20px;
}

.select__title--weigh-loss {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 30px 79px 29px 91px;
}

.select__text--slim {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 29px 33px 23px 20px;
  color: #444444;
}

.select__title--weigh-gain {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 30px 30px 29px 91px;
  padding: 0;
}

.select__text--pro {
  font-family: "Arial", sans-serif;
  margin: 29px 33px 23px 20px;
  padding: 0;
}

.select__link {
  margin: 15px 127px 18px 19px;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
}

.services {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto 320px;
  background-position: top center;
}

.services__title {
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  padding-top: 27px;
}

.services__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 29px;
}

.services__button {
  width: 100%;
}

.form-field__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-field__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
}

.form-field__name {
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 30px 14px 15px;
  margin-left: 13px;
}

.form-field__weight {
  padding: 13px 20px 14px 16px;
}

.form-field__age {
  padding: 13px 2px 14px 16px;
}

.form-field-stile {
  padding-right: 13px;
}

.form-field__label--radio {
  color: #222222;
}

.form-field__post {
  padding: 13px 9px 16px 0px;
}

.form-field__contact {
  padding: 14px 14px 16px 16px;
}

.form-field__textarea {
  font-family: "Arial", sans-serif;
  padding: 9px 12px 12px 15px;
  border: 1px solid #E7E7E7;
  width: 100%;
}

.form-cat {
  padding-bottom: 13px;
  padding-left: 20px;
}

.title-line {
  padding-bottom: 35px;
}

.title-line--additionally {
  padding-top: 23px;
  padding-right: 23px;
  padding-bottom: 34px;
}

.title-line--form {
  margin: 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */