.additionally-feed{
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    position: absolute;
    top: 21px;
    z-index: -1;
  }
}

.additionally-feed__card {
  margin: 0;
  display: grid;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 19px;
}

.additionally-feed__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 25px 22px 36px 20px;
  padding: 0;

}

.additionally-feed__title {
  margin: 0;
  padding: 0;
}

.additionally-feed__link-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 13px 149px 13px 0;
  padding: 0;
}

.additionally-feed__card--items {
  padding-bottom: 35px;
}

.additionally-feed__value {
  margin: 0;
}

.additionally-feed__one {
  margin-right: 125px;
}

.additionally-feed__two {
  margin-right: 190px;
}

.additionally-feed__three {
  margin-right: 199px;
}

.additionally-feed__four {
  margin-right: 134px;
}

.additionally-feed__specification-item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
}

.additionally-feed__order-button {
  width: 100%;
}

@media (min-width: 768px) {
  .additionally-feed{
    position: relative;
  }

  .additionally-feed__text {
    font-size: 36px;
    line-height: 36px;
    margin: 68px 40px 79px 67px;
    width: 374px;
    background-color: #ffffff;
  }

  .additionally-feed__specification-item {
    font-size: 16px;
    line-height: 20px;
    margin-top: -19px;
  }

  .additionally-feed__title {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
  }

  .additionally-feed__card {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 38px;
    box-sizing: border-box;
    border: 1px solid #CDCDCD;
  }

  .additionally-feed__link-title {
    font-size: 20px;
    line-height: 20px;
  }

  .additionally-feed__description {
    margin-right: 49px;
  }

  .additionally-feed__one {
    margin-right: 49px;
  }

  .additionally-feed__two {
    margin-right: 59px;
  }
}

@media (min-width: 1440px) {
  .additionally-feed {
    padding: 0;
  }

  .additionally-feed__specification-list {
    margin: 0 0 0 auto;
    width: 327px;
  }

  .additionally-feed__card {
    border-top: 1px solid #CDCDCD;
    padding: 18px 0 12px;
    border-left: none;
    border-right: none;
  }

  .additionally-feed__title {
    margin: 0;
  }

  .additionally-feed__specification-item {
    margin-top: 5px;
  }

  .additionally-feed__order-button {
    width: 244px;
  }

  .additionally-feed__container {
    width: 1220px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    height: 288px;
    margin-bottom: 164px;
  }

  .additionally-feed__extra {
    width: 896px;
    margin-right: 79px;
  }

  .additionally-feed__text {
    margin: 68px 40px 3px 111px;
  }

  .additionally-feed__one {
    margin-right: 112px;
  }

  .additionally-feed__two {
    margin-right: 178px;
  }

  .additionally-feed__three {
    margin-right: 196px;
  }

  .additionally-feed__four {
    margin-right: 121px;
  }
}
