.additionally-feed__card {
  margin: 0;
  display: grid;
  align-items: center;
  padding: 19px 20px 12px 20px;
  box-sizing: border-box;
}

.additionally-feed__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin: 25px 22px 36px 19px;
  padding: 0;
}

.additionally-feed__title {
  margin: 0;
  padding: 0;
}

.additionally-feed__link-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 13px 149px 13px 0;
  padding: 0;
}

.additionally-feed__card--items {
  padding-bottom: 35px;
}

.additionally-feed__value {
  margin: 0;
}

.additionally-feed__one {
  margin-right: 125px;
}

.additionally-feed__two {
  margin-right: 190px;
}

.additionally-feed__three {
  margin-right: 199px;
}

.additionally-feed__four {
  margin-right: 134px;
}

.additionally-feed__specification-item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
}

.additionally-feed__order-button {
  width: 100%;
}
