.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: auto;
  border: none;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #68b738;
  display: block;
  cursor: pointer;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(#ffffff, 0.3);
}

.button:hover {
  background-color: #5eaa2f;
}
