.card-feed {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 19px 20px 12px 20px;
}

.card-feed__specification-list {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card-feed__specification-item {
  display: flex;
  justify-content: space-between;
}

.card-feed__title {
  margin: 0;
  font-weight: 400;
}

.card-feed__link-title {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-column: 1 / -1;
}

.card-feed__link-image {
  display: block;
  padding:  24px 33px 12px;
  text-align: center;
}

.card-feed__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #222222;
  text-transform: uppercase;
}

.card-feed__product {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin: 23px 38px 8px 37px;
  padding: 0;
}

.card-feed__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 8px 28px 21px 28px;
  padding: 0;
}

.card-feed__button {
  background: #F2F2F2;
  color: #444444;
  width: 100%;
}

.card-feed__order-button {
  width: 100%;
  grid-column: 1 / -1;
}

@media (min-width: 768px) {
  .card-feed {
    grid-template-columns: 1fr;
    padding: 0 36px 39px;
    background: linear-gradient(#FFFFFF 20%, #F2F2F2 20%);
  }

  .card-feed__link-image {
    display: block;
    order: -1;
    margin-bottom: 15px;
  }

  .card-feed__specification-list {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    margin-bottom: 33px;
  }

  .card-feed__title {
    margin-bottom: 21px;
    text-align: center;
  }

  .card-feed__link-title {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    text-transform: uppercase;
    margin: 0;
  }

  .card-feed__text {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 21px;
  }

  .card-feed__description {
    margin-bottom: 9px;
  }

  .card-feed__specification-item {
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 5px;
  }

  .card-feed__icon {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .card-feed {
    justify-self: center;
  }

  .card-feed__title {
    padding: 0 23px;
    margin-bottom: 10px;
  }
}
