.catalog-promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/catalog/mobile-cat.jpg");
  position: relative;
  min-height: 289px;
  padding-top: 188px;
  margin-top: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 38px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/catalog/mobile-cat@2x.jpg");
    }
  }

.catalog-promo__icon {
  position: absolute;
  left: 50%;
  top: 61px;
  width: 78px;
  height: 77px;
  transform: translateX(-50%);
}

.catalog-promo__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog-promo {
    display: flex;
    align-items: center;
    padding-top: 0;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    justify-content: flex-end;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/catalog/tablet-cat.jpg 1x") no-repeat center;
    background-size: cover;


    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/catalog/tablet-cat@2x.jpg");
    }
  }


  .catalog-promo__icon {
    left: 118px;
    top: 60px;
    width: 80px;
    height: 82px;
}

  .catalog-promo__slogan {
    margin-right: 124px;
    text-align: left;
    margin-top: 12px;
  }
}

@media (min-width: 1440px) {
  .catalog-promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/catalog/desktop-cat.jpg") no-repeat bottom;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/catalog/desktop-cat@2x.jpg");
    }
  }

  .catalog-promo__icon {
    left: 124px;
    top: 64px;
    width: 80px;
    height: 82px;
}

  .catalog-promo__slogan {
    margin: 196px 43px 39px 41px;
    text-align: center;
  }
}
