.control__label {
  position: relative;
  display: flex;
  min-height: 30px;
  align-items: center;
  flex-wrap: wrap;
  top: -4px;
}

.control__mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.control__input:checked + .control__mark--checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-14px) translateX(-13px);
  width: 100%;
  height: 100%;
  background: url("../img/check-mark.svg") no-repeat center;
}

.control__mark--radio {
  margin-left: 0;
  border-radius: 50%;
}

.control__input:checked + .control__mark--radio::before {
  position: absolute;
  top: 7px;
  transform: translateX(-7px);
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.control__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.control__text--additional {
  margin-left: 46px;
}

.control__text-context {
  margin-left: 49px;
  margin-top: 10px;
}

.control__input:focus ~ .control__mark {
  border-color: #222222;
}

.control__input:hover ~ .control__mark {
  border-color: #bababa;
}

.control__input:disabled ~ .control__text {
  color: rgba(#222222, 0.3);
}

@media (min-width: 768px) {
  .control__text {
    font-size: 20px;
    line-height: 30px;
    margin-left: 50px;
  }

  .control__text--additional {
    color: #000000;
  }

  .control__mark {
    width: 40px;
    height: 40px;
    left: -2px;
  }

  .control__label {
    position: relative;
    display: flex;
    min-height: 30px;
    align-items: center;
    flex-wrap: wrap;
    top: -3px;
    left: 31px;
    padding-left: 9px;
  }

  .control__input:checked + .control__mark--radio::before {
    width: 18px;
    height: 18px;
    transform: translateX(-9px);
    top: 10px;
    left: 50%;
  }

  .control__input:checked + .control__mark--checkbox::before {
    transform: translateY(-19px) translateX(-18px);
    background-size: 26px 26px;
  }
}

@media (min-width: 1440px) {
  .control__text-context {
    margin-left: 48px;
    margin-top: 5px;
  }

  .control__mark {
    top: -8px;
    width: 40px;
    height: 40px;
    left: -32px;
  }

  .control__mark--radio {
    top: 2px;
    left: -2px;
  }

  .control__text--additional {
    margin-left: 18px;
    margin-top: -5px;
  }
}
