.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 139px;
  color: #111111;
  padding: 0;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__text-city {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
    text-align: end;
  }

  .contacts__text-city {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .contacts__box {
    max-width: 160px;
  }
}
