.example {
  margin: 0;
  background: #eaeaea;
}

.example__result {
  --width: 50%;
  height: 256px;
  position: relative;
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__toggler {
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  background-color: #666666;
  left: var(--width);
  transform: translateX(-50%);
}

.example__pictuer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--width);
  overflow: hidden;
  background: linear-gradient(#FFFFFF 0%, #EAEAEA 0%);
}

.example__meals {
  width: 100%;
  height: 256px;
}

.example__toggler {
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 2px solid #666666;
    border-radius: 20px;
    z-index: -1;
  }
}

.example__switch {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  fill: #666666;
}

.example__before {
  width: 280px;
  height: 256px;
}

.example__after {
  width: 280px;
  height: 256px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 38px;
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.example__nutrition {
  margin-left: 3px;
}

.example__value {
  margin: 0;
}

.example__description {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
  order: -1;
  margin-left: 0;
  text-transform: uppercase;
}

.example__table {
  margin: 0;
  margin-bottom: 34px;
  display: flex;
  gap: 32px;
  height: 56px;
}

.example__cell {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 13px 20px 20px;
  min-width: 123px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  position: relative;
}

.example__number {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #EAEAEA;
}

.example__switch {
  fill: #666666;
  display: block;
}

.example__value {
  margin-left: 5px;
}

.example__toggler:hover > .example__switch {
  fill: #68B738;
}

.example__toggler:hover::after {
  border: 2px solid #68B738;
}

.example__toggler:hover {
  background-color: #68B738;
}

.example__toggler:active {
  background-color: #5EAA2F;
  opacity: 0.6;
}

.example__description-br {
  display: none;
}

@media (min-width: 768px) {
  .example__container {
    padding: 45px 30px 101px;
  }

  .example__result {
    position: relative;
    height: 512px;
    width: 560px;
    left: 74px;
  }

  .example {
    background: linear-gradient(#FFFFFF 56.9%, #EAEAEA 56.9%);
  }

  .example__description-br {
    display: block;
  }

  .example__nutrition {
    margin-right: 3px;
}

  .example__pictuer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--width);
    overflow: hidden;
    background: linear-gradient(#FFFFFF 29.5%, #EAEAEA 29.5%);
  }

  .example__before {
    width: 560px;
    height: 512px;
  }

  .example__after {
    width: 560px;
    height: 512px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 0;
    margin-bottom: 63px;

  }

  .example__subtitle {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    color: #444444;
    margin-bottom: 54px;
  }

  .example__cell {
    min-width: 161px;
  }

  .example__table {
    margin: 0;
    min-width: 366px;
    gap: 43px;
    height: auto;
  }

  .example__description {
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .example__number {
    font-size: 14px;
    line-height: 14px;
    bottom: -7px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 11px;
  }

  .example__expenses {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 9px;
  }

  .example__value {
    margin: 0;
  }

  .example__number-road {
    margin-left: -3px;
  }

  .example__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 99px;
  }
}

@media (min-width: 1440px) {
  .example {
    background: linear-gradient(#FFFFFF 22%, #EAEAEA 22%);
  }

  .example__description-br {
    display: none;
  }

  .example__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 0 75px;
    display: flex;
    justify-content: space-between;
  }

  .example__result {
    position: relative;
    height: 512px;
    width: 560px;
    left: 0;
  }

  .example__pictuer {
    background: linear-gradient(#FFFFFF 26.9%, #EAEAEA 26.9%);
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__subtitle {
    margin-bottom: 69px;
  }

   .example__number {
    background-color: #EAEAEA;
    min-width: 95px;
    bottom: -7px;
  }

  .example__number-road {
    margin-left: -2px;
  }

  .example__block {
    max-width: 436px;
  }

  .example__table {
    margin-bottom: 60px;
  }

  .example__nutrition {
    margin-right: 5px;
    margin-left: 1px;
  }

  .example__expenses {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 59px;
    max-width: 436px;

  }

  .example-program__calculation {
    font-size: 20px;
    line-height: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 63px;
    max-width: 436px;
    color: #000000;
    }

    .example__box {
      margin: 0;
    }
  }
