.title-line {
  padding-bottom: 35px;
}

.title-line--additionally {
  padding-top: 23px;
  padding-right: 23px;
  padding-bottom: 34px;
}

.title-stile {
  margin: 0;
  text-align: center;
}

.form-fieldset__comments {
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 37px;
}

.form-fieldset__necessarily {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 21px 61px 32px 61px;
  margin: 0;
}

.form-fieldset__item {
  padding-bottom: 14px;
}

.form-fieldset__list {
  margin: 0;
  list-style-type: none;
  padding-top: 9px;
  padding-bottom: 19px;
}

.form-fieldset__button {
  background: #68B738;
}
