.form-program__fieldset {
  margin: 0;
  padding: 0;
}

.form-fieldset__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-style: normal;
  color: #000000;
}
