.form-program__fieldset-container {
  margin: 0;
  padding: 0;
}

.form-fieldset__button {
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
  padding: 7px 44px;
}

