.form-program {
  overflow-x: hidden;
}

.form-program__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 38px;
}

.form-program__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 38px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .form-program__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
	  margin: 0;
  }

  .form-program__header {
    padding: 36px 36px 36px 68px;
  }

  .form-program__order {
    padding: 0 36px 0 40px;
  }

  .form-program__text {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 68px;
    margin-left: 11px;
  }
}

@media (min-width: 1440px) {
  .form-program__header {
    padding: 70px 0 37px;
  }

  .form-program__wrapper {
    padding: 0;
    max-width: 1220px;
    margin: 0 auto;
  }

  .form-program__order {
    padding: 0 0 79px;
  }

  .form-program__text {
    margin-bottom: 69px;
    padding: 0;
    margin-left: 0;
  }
}
