.form-fieldset__comments {
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 37px;
}

.form-fieldset__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-fieldset__necessarily {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 1px 61px 32px 61px;
  padding: 0;
}

.form-fieldset__list {
  margin: 0;
  list-style-type: none;
  padding: 20px;
}

.form-fieldset__item-position {
  margin-bottom: 13px;
  margin-right: 120px;
}

.form-fieldset__item-stile {
  margin-bottom: 34px;
}

.form-fieldset__stile-one {
  margin: 6px 163px 15px 16px;
}

.form-fieldset__stile-two {
  margin: 6px 140px 15px 16px;
}

.form-fieldset__stile-three {
  margin: 23px 20px 12px 16px;
}

.form-fieldset__button {
  width: 100%;
}
