.form-program__fieldset {
  margin: 0;
  padding: 0;
}

.form-fieldset__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.inner-header__subtext {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-bottom: 39px;
  padding-top: 37px;
}

.form-field__name {
  font-family: "Oswald", sans-serif;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 40px 14px 15px;
}

.form-field__weight {
  padding: 13px 11px 14px 16px;
}

.form-field__age {
  padding: 13px 2px 14px 16px;
}

