.inner-header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.inner-header__form {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
  margin: 27px 40px 37px 20px;
}

.inner-header-text-stile {
  margin: 37px 20px 37px 20px;
}
