.main-header {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-header__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 17px 20px;

}

.main-header__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-header__page--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-header__page--nojs .main-header__main-nav-wrapper {
  position: static;
  min-height: 0;
}

.main-header__page--open .main-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__logo {
  display: inline-block;
}

.main-header__logo-text {
  margin-left: 56px;
  margin-bottom: 7px;
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .main-header__page--closed .main-header__main-nav-item {
    display: none;
  }
}

.main-header__wrapper--nojs .main-header__main-nav__item {
  display: block;
}

@media (min-width: 768px) {
  .main-header {
    min-height: 76px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__logo {
    width: 174px;
    height: 52px;
  }

  .main-header__toggle {
    position: relative;
    display: none;
  }

  .main-header__page {
    padding: 24px 0 24px;
  }

  .main-header__logo-text {
    margin-left: 12px;
    margin-bottom: 7px;
  }
}

@media (min-width: 1440px) {
  .main-header {
    max-width: 1220px;
    margin: 0 auto;
    padding: 53px 0 0 0;
  }

  .main-header__page {
    padding: 0;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }

  .main-header__logo-text {
    margin-left: 14px;
    margin-bottom: 7px;
  }
}
