.main-content {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.services {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto 320px;
  background-position: top center;
}

.services__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
}

.services__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.services__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  padding: 7px 44px;
  border: none;
}

.select__item {
  margin: 0;
  color: #444444;
}

.select {
  padding-bottom: 20px;
}

.select__title--weigh-loss {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 79px 0 91px;
}

.select__text--slim {
  margin: 0;
  padding: 29px 33px 23px 20px;
  color: #444444;
}

.select__title--weigh-gain {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 30px 29px 91px;
}

.select__text--pro {
  margin: 0;
  padding: 0 33px 23px 20px;
}

.select__link {
  margin: 0;
  padding: 0px 127px 19px 18px;
  color: #000000;
  text-transform: uppercase;
}
