.main-footer {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.main-footer__contacts {
  display: flex;
  background-color: #ffffff;
}

.main-footer__social {
  background: #F2F2F2;
  text-align: center;
}

.main-footer__map {
  text-align: center;
}

.main-footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 26px 2px 26px 13px;
  padding: 0;
}

.main-footer__adress {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding: 0;
  margin: 26px 20px 26px 0;
}

.main-footer__icon {
  padding: 39px 96px 32px 96px;
}

.main-footer__rights {
  padding: 22px 20px 22px 19px;
}

.main-footer__right-link {
  margin-right: 140px;
}
