.main-nav{
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__wrapper {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}
