.order-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.order-form__fieldset--personal {
  margin-bottom: 23px;
}

.order-form__fields {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  gap: 14px;
  width: auto;
  padding: 0;
}

.order-form__fields-radio {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  row-gap: 12px;
}

.order-form__fields--contacts {
  padding: 0;
}

.order-form__fieldset--program {
  padding: 23px 0 18px;
  margin-bottom: 27px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.order-form__fieldset--contacts {
  margin-bottom: 20px;
}

.order-form__fieldset--contacts {
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    position: absolute;
    top: 26px;
    z-index: 0;

  }
}

.order-form__title--contacts {
  max-width: 215px;
  position: relative;
  background: #ffffff;
}

.order-form__fieldset--description {
  margin-bottom: 23px;
  background-color: #ffffff;
}

.order-form__title--description {
  max-width: 152px;
}

.order-form__fieldset--description {
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    position: absolute;
    top: 16px;
    z-index: 0;
  }
}


.order-form__title--description {
  max-width: 152px;
}

.order-form__fieldset--additional {
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    position: absolute;
    top: 16px;
    z-index: 0;
  }
}

.order-form__fieldset--additional {
  margin-bottom: 30px;
}

.order-form__title--additional {
  max-width: 175px;
  position: relative;
}

.order-form__title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
  font-weight: 400;
  position: relative;
  background-color: #FFFFFF;
  padding-left: 20px;
}

.order-form__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 150px;
  width: 100%;
  padding: 9px 12px 9px 15px;
  border: 1px solid #E7E7E7;
}

.order-form__button {
  margin-bottom: 21px;
  width: 100%;
}

.order-form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.order-form__fields-item {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .order-form__fieldset--program {
    padding: 25px 28px;
    margin-bottom: 80px;
    border: 1px solid #CDCDCD;
  }

  .order-form__fieldset--description {
    &::before {
      top: 24px;

    }
  }

  .order-form__fields--program {
    gap: 23px;
  }

  .order-form__wrapper {
    max-width: 630px;
    padding: 0;
  }

  .order-form__shell {
    padding: 0;
    max-width: 630px;
    margin: 0 auto;
  }

  .order-form__fieldset--personal {
    margin-bottom: 72px;
  }

  .order-form__fieldset--contacts {
    margin-bottom: 65px;
  }

  .order-form__fieldset--description {
    margin-bottom: 65px;
  }

  .order-form__fieldset--additional {
    margin-bottom: 54px;
  }

  .order-form__fields--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    row-gap: 40px;
  }

  .order-form__fields--additional .order-form__fields-item {
    max-width: 300px;
  }

  .order-form__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 76px;
    color: #000000;

  }

  .order-form__title--contacts {
    max-width: 596px;
    margin-left: -39px;
    padding-right: 42px;
    padding-left: 39px;
    margin-bottom: 70px;
  }

  .order-form__title--description {
    max-width: 267px;
    margin-left: -39px;
    padding-right: 38px;
    padding-left: 39px;
    margin-bottom: 72px;
    background-color: #FFFFFF;
  }

  .order-form__title--additional {
    max-width: 200px;
    margin-left: -40px;
    padding-right: 41px;
    padding-left: 40px;
    margin-bottom: 63px;
    background-color: #FFFFFF;
  }

  .order-form__textarea {
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    text-transform: uppercase;
    min-height: 174px;
    padding: 9px 12px 9px 15px;
  }

  .order-form__button {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin: 0;
    padding: 19px;
    margin-right: 61px;
    width: 282px;
  }

  .order-form__note {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .order-form__fields {
    gap: 20px;
  }

  .order-form__shell {
    padding: 0;
    max-width: 1220px;
    margin: 0 auto;
  }

  .order-form__wrapper {
    max-width: 1220px;
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
    margin-bottom: 69px;
    padding: 0;
  }

  .order-form__fieldset--program {
    padding: 25px 28px;
    margin-bottom: 0;
  }

  .order-form__fieldset--personal {
    margin-bottom: 0;
  }

  .order-form__fieldset--contacts {
    margin-bottom: 69px;
  }

  .order-form__fieldset--description {
    margin-bottom: 67px;
  }

  .order-form__fieldset--additional {
    margin-bottom: 69px;
  }

  .order-form__fields--contacts {
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
  }

  .order-form__note {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
  }

  .order-form__button {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin-right: 81px;
    width: 568px;
    padding: 16px;
  }

  .order-form__title--contacts {
    max-width: 512px;
    margin-bottom: 79px;
    margin-left: 110px;
    padding: 0;
  }

  .order-form__title--description {
    max-width: 182px;
    margin-bottom: 76px;
    margin-left: 110px;
    padding: 0;
  }


  .order-form__fieldset--additional {
    &::before {
      top: 24px;

    }
  }

  .order-form__title--additional {
    max-width: 275px;
    margin-bottom: 55px;
    margin-left: 110px;
    padding: 0;
  }

  .order-form__fields--additional {
    display: grid;
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
  }
}
