.select__programm {
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.select__item {
  margin: 0;
  padding: 30px 33px 22px 20px;
  color: #444444;
  background: #F2F2F2;
  position: relative;
}

.select__item--slim {
  &::before {
    background: url("..//img/cat-back-slim.svg") no-repeat center;
    position: absolute;
    top: 21px;
    content: "";
    width: 50px;
    height: 53px;
    background-size: contain;
  }
}

.select__item--pro {
  &::before {
    background: url("..//img/cat-back-pro.svg") no-repeat center;
    position: absolute;
    top: 24px;
    transform: translateX(-9px);
    content: "";
    width: 67px;
    height: 50px;
    background-size: contain;
  }
}

.select__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-left: 70px;
  margin-bottom: 30px;
}

.select__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 12px;
  color: #444444;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 20px;
}

.select__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  padding-right: 17px;
  text-decoration: none;
  position: relative;
  top: 5px;
}

.select__arrow {
  position: absolute;
  width: 24px;
  height: 12px;
  transform: translateY(6px);
  background-repeat: no-repeat;
  margin-left: 16px;
}

.select__link:active {
  opacity: 0.3;
}

.select__link:hover .select__arrow {
  transform: translateY(7px) scaleX(1.4);
}

@media (min-width: 768px) {
  .select {
    position: relative;
 }

  .select__programm {
    padding: 0 30px;
    gap: 30px;
  }

  .select__item {
    padding: 80px 315px 58px 53px;
    position: relative;
  }

  .select__item--slim {
    &::before {
      width: 201px;
      height: 209px;
      top: 81px;
      right: 61px;
    }
  }

   .select__item--pro {
    &::before {
      width: 268px;
      height: 200px;
      top: 93px;
      right: 30px;
      transform: translateX(0);
    }
  }

  .select__text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
    margin-bottom: 48px;
    padding: 0;
  }

  .select__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 23px;
    padding: 0;
  }

  .select__link {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }

  .select__arrow {
      transform: translateY(10px);
      margin-left: 25px;
  }

  .select__link:hover .select__arrow {
    transform: translateY(10px) scaleX(1.4);
  }
}

@media (min-width: 1440px) {
  .select {
    position: relative;
 }

  .select__programm {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
    gap: 80px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    }

  .select__item {
    max-width: 570px;
    padding: 82px 51px 57px 52px;
    position: relative;
    }

    .select__item--slim {
      &::before {
        width: 100px;
        height: 106px;
        top: 45px;
        left: 51px;
      }
    }

    .select__item--pro {
      &::before {
        width: 134px;
        height: 100px;
        top: 51px;
        left: 33px;
      }
    }

    .select__title {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      margin-bottom: 73px;
      padding-left: 162px;
    }

    .select__text {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 23px;
  }
}
