.social {
  list-style-type: none;
  display: flex;
  padding: 20px 94px 21px 94px;
  margin: 0;
  justify-content: center;
}

.social__item--vkontakte {
  padding-right: 24px;
}

.social__item--youtube {
  padding-right: 26px;
}

.social__item--telegramm {
  padding: 0;
}
